@import "../../styles";
@import "../../../node_modules/bootstrap/scss/badge";
@import "../../../node_modules/bootstrap/scss/card";

.hero-card {
  .badge {
    @extend .badge-dark;
  }

  &:hover, &.selected {
    background-color: lighten($indigo, 20%);
    color: white;

    .text-muted {
      @extend .text-light;
    }
  }

  &.selected {
    background-color: $indigo;

    .badge {
      background-color: $yellow;
      @extend .text-dark;
    }
  }
}